.landpage {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  padding-bottom: 40px;
}

.projects-summary {
  display: none;
}

ul {
  list-style: none;
  padding-left: 20px;
}

section > h1 {
  font-weight: 600;
  border-left: 5px solid var(--color-secondary);
  text-align: left;
  padding: 15px 25px;
  text-decoration: none;
  color: var(--color-secondary);
  margin-top: 100px;
  margin-bottom: 60px;
  background-color: var(--color-primary-transparent);
  background-image: url(/headerbg.svg);
}
.landpage p {
  margin-bottom: 16px;
}
.flex-container {
  display: flex;
  margin-top: 20px;
}

h2 {
  color: var(--color-secondary);
  margin-top: 50px;
  font-weight: 400;
}

.content-wrapper {
  color: var(--color-main-text);
  width: 50%;
}
.bordered {
  border: 5px solid var(--color-secondary-trans);
  clip-path: polygon(0% 100%, 100% 100%, 100% 5%, 0% 0%);
  border-right: none;
  box-sizing: border-box;
  padding: 20px;
}
a {
  text-decoration: none;
  color: var(--color-accent);
}
a:hover {
  text-decoration: underline;
}
.bordered:hover {
  border-color: var(--color-primary);
}

.ml {
  margin-left: 20px;
  width: 50%;
}
.bordered h2 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 28px;
  text-align: left;
  color: var(--color-secondary);
}
.landpage h3 {
  font-weight: 400;
  font-size: 20px;
  margin-left: 10px;
}
.skill {
  text-align: left;
}
.flex-content-left {
  box-sizing: border-box;
  width: 55%;
  padding: 20px;
  padding-right: 40px;
  color: var(--color-main-text);
}
.flex-content a {
  display: block;
}
.flex-content {
  box-sizing: border-box;
  width: 100%;
  padding: 40px;
  padding-top: 20px;
  color: var(--color-main-text);
}
.flex-content-right {
  box-sizing: border-box;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#biblioteca-container {
  flex-direction: row-reverse;
}
#biblioteca-gif-container span {
  display: none;
}
.flex-container img,
.flex-container video {
  width: 100%;
  object-fit: cover;
}
.landpage h4 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 5px;
}
.landpage ul {
  margin-top: 0;
}
.mb {
  margin-bottom: 60px;
}

.awssld__content > img {
  object-fit: scale-down !important;
}
.awssld__content {
  background-color: white !important;
}
.print-only {
  display: none !important;
}
.landpage-description {
  margin-bottom: 60px !important;
  padding-left: 12px;
  padding-right: 12px;
}
.half {
  width: 50%;
  display: inline-block;
  position: relative;
  top: 0;
  box-sizing: border-box;
}
.border-right {
  border-right: 5px solid var(--color-secondary-trans);
}

.experiencelist {
  list-style: none;
  padding-left: 0;
  font-weight: 700;
}
#projects {
  margin-bottom: 20px;
}

@media only screen and (min-width: 1001px) {
  #biblioteca-gif-container {
    width: 54%;
  }
  #biblioteca-gif-container span {
    display: inline-block;
    margin: 0 auto;
    margin-top: 5px;
    color: rgb(136, 136, 136);
  }
  #biblioteca-gif-container video {
    transition: all 500ms ease-in-out;
  }
  #biblioteca-gif-container:hover > video {
    transform: scale(1.55) translateX(-170px) translateY(10px);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  }
  #biblioteca-description-container {
    transition: all 500ms ease-in-out;
  }
  #biblioteca-gif-container:hover ~ #biblioteca-description-container {
    opacity: 0.1;
    z-index: -1;
  }
}

@media only screen and (max-width: 1000px) {
  .landpage {
    width: 100%;
    max-width: 600px;
  }
  .flex-container {
    flex-direction: column-reverse;
    margin: 0;
  }

  .half {
    width: 100%;
  }

  .content-wrapper {
    width: 100%;
  }
  .bordered {
    margin-bottom: 5px;
    padding: 10px;
  }
  .ml {
    margin-left: 0;
  }
  .border-right {
    border-right: none;
  }

  .flex-content-right {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .flex-content {
    padding: 10px;
  }
  .bordered {
    border-left: none;
    border-right: none;
  }
  section {
    width: 90%;
    margin: 0 auto;
    
  }
}

@media print {
  .print-only {
    display: block !important;
  }
  .not-printed {
    display: none;
  }
  header p {
    max-width: 600px;
  }
  .fixed {
    position: absolute;
    top: 530px;
    left: 110px;
    z-index: 2000;
    color: white;
  }
  .fixed h1 {
    display: none;
  }
  .fixed h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    color: white;
    padding-bottom: 6px;
  }
  .fixed ul {
    list-style: none;
    padding: 0;
    padding-left: 10px;
  }
  .fixed li {
    font-weight: 300;
    font-size: 20px;
  }
  header h1 {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .bordered {
    page-break-inside: avoid;
    padding: 10px 20px;
  }
  section > h1 {
    margin-bottom: 30px;
  }
  .page-break {
    page-break-before: always;
    margin-top: 0 !important;
  }
  #projects {
    page-break-before: unset;
  }
  .projects-wrapper {
    display: none;
  }
  .projects-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 228px;
    max-height: 228px;
  }
  .projects-summary-description{
    padding-right: 40px;
  }
  .projects-summary-description a {
    text-decoration: none;
    color: var(--color-accent)
  }
  .projects-summary img {
    max-height: 100%;
    height: 100%;
  }

  .landpage {
    margin-bottom: 0;
  }
  .landpage h1 {
    margin-top: 30px;
  }
  #projects {
    margin-top: 50px;
  }
}
