:root {
  --color-primary: #2d00b3;
  --color-primary: #0037db;
  --color-secondary: #0a0042;
  --color-secondary-trans: rgba(10, 0, 66, 0.315);
  --color-accent: #ffa25f;
  --color-main-text: rgb(42, 42, 42);

}
body,
html,
.App,
#root {
  height: 100%;
}
