:root {
  
  --color-primary: #d6d4e1;
  --color-primary-transparent: #d6d4e150;
  --color-secondary: #070042;
  --color-secondary-trans: rgba(10, 0, 66, 0.048);
  --color-accent: #FF7754;
  --color-main-text: #232327;
  --color-accent-transparent: #ffa25f22;
}

body,
html,
.App,
#root {
  height: 100%;
  text-align: justify;
}

.accent{
  color: var(--color-accent);
}