:root {
  
  --color-primary: #0037db;
  --color-secondary: #070042;
  --color-secondary-trans: rgba(10, 0, 66, 0.315);
  --color-accent: #ffa25f;
  --color-main-text: #414141;
}

body,
html,
.App,
#root {
  height: 100%;
}