.landpage {
  width: 100%;
  max-width: 1100px;
  margin: 20px auto;
  margin-bottom: 800px;
}

.landpage > h1 {
  font-weight: 400;
  border-left: 5px solid var(--color-secondary);
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  color: var(--color-secondary);
  color: white;
  margin-top: 80px;
  margin-bottom: 40px;
  background-color: var(--color-primary);
  background-image: url(/headerbg.svg);
}
.landpage p {
  margin-bottom: 30px;
}
.flex-container {
  display: flex;
  margin-bottom: 20px;
}

.content-wrapper {
  color: var(--color-main-text);
  width: 50%;
}
.bordered{
  border: 5px solid var(--color-secondary-trans);
  clip-path: polygon(0% 100%, 100% 100%, 100% 5%, 0% 0%);
  box-sizing: border-box;
  padding: 20px;
}
.bordered:hover{
  border-color: var(--color-primary);
}

.content-wrapper:hover {
  color: var(--color-primary);
}
.ml {
  margin-left: 20px;
  width: 50%;
}
.content-wrapper h2 {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 100;
}

.flex-content-left{
  box-sizing: border-box;
  width: 55%;
  padding: 20px;
  padding-right: 40px;
  color: var(--color-main-text);
}
.flex-content-right{
  box-sizing: border-box;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#biblioteca-container{
  flex-direction: row-reverse;
}
#biblioteca-gif-container span{
  display: none;
}
.flex-container img, .flex-container video{
  width: 100%;
  object-fit: cover;
}
.flex-content-left h2{
  color: var(--color-main-text);
  font-weight: 100;
}
.flex-content-left a{
  text-decoration: none;
  color: var(--color-primary)
}
.flex-content-left a:hover{
  text-decoration: underline;
}
.landpage h4{
  font-weight: 400;
  margin-bottom: 5px;
}
.landpage ul{
  margin-top: 0;
}
.mb{
  margin-bottom: 60px;
}

.awssld__content > img {
  object-fit: scale-down !important;
}
.awssld__content{
  background-color: white !important;
}

@media only screen and (min-width: 1001px){

  #biblioteca-gif-container{
    width: 54%;
  }
  #biblioteca-gif-container span{
    display: inline-block;
    margin: 0 auto;
    margin-top: 5px;
    color: rgb(136, 136, 136);
  }
  #biblioteca-gif-container video{
    transition: all 500ms ease-in-out;
  }
  #biblioteca-gif-container video:hover{
    transform: scale(1.55) translateX(-170px) translateY(10px);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
  }
  #biblioteca-description-container{
    transition: all 500ms ease-in-out;
  }
  #biblioteca-gif-container:hover ~ #biblioteca-description-container{
    opacity: 0.1;
    z-index: -1;
  }
}

@media only screen and (max-width: 1000px) {
  .landpage {
    width: 100%;
  }
  .flex-container {
    flex-direction: column-reverse;
    margin: 0;
  }
  #biblioteca-container{
    flex-direction: column;
  }
  .content-wrapper {
    width: 100%;
  }
  .bordered{
    margin-bottom: 5px;
  }
  .ml {
    margin-left: 0;
  }
  .landpage p {
    padding: 0 15px;
  }
  .flex-content-left, .flex-content-right{
    width: 100%;
  }
  
  .flex-content-right{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 25px;
  }
}
